# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
share/python-wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytest_cache/
cover/

# Translations
*.mo
*.pot

# Flask cache files
instance/
*.log

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Environment Variables
.env

# Database files
*.sqlite3
*.db

# Local settings
config.py

# Ignore the pyvenv.cfg file
pyvenv.cfg

